[submodule "v1/code/src/thirdparty/free_rtos"]
	path = v1/code/src/thirdparty/free_rtos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "v1/code/src/thirdparty/bme280"]
	path = v1/code/src/thirdparty/bme280
	url = https://github.com/boschsensortec/BME280_SensorAPI.git
